# C++ compiled files
*.o
*.so
*.dll

# R profile files
*.Rproj.user
*.Rhistory

# system files
.directory

# temporary files
*-swp

# java files
inst/java/project/target
inst/java/project/project
inst/java/target
